body {
  background: linear-gradient(135deg, #92e3fc 0%,#53cbf1 40%,#05abe0 100%);
  background-attachment: fixed;
}

img {
  background: linear-gradient(135deg, #d4e4ef 0%,#86aecc 100%);  border: solid;
}

.box {
  border: solid;
  background-color: white;
  margin: 15px;
  padding: 10px;
  float: left;
}
.btn-primary {
  margin-left: 15px;
}

h1, h2 {
  font-weight: bold;
  margin-left: 15px;
}

h4 {
  text-decoration: underline;
}
