<h1>Welcome to the Robot Manager</h1>
  <h2>Statistical Data</h2>


    <div class="box">
      <h4>Total Robots</h4>
      <%= @robot_data[:count] %>
    </div>
    <% @robot_data.each do |k, v| %>
      <%if v.class == Hash %>
        <div class="box">
          <h4>Robots in each <%= k.capitalize %></h4>
            <ul>
            <% v.each do |data, count| %>
              <li><%= data + ": " + count.to_s %></li>
            <% end %>
            </ul>
        </div>
      <% end %>
    <% end %>


<div style="clear: both;"></div>
<form method="GET">
  <a href="/robots"> <button type="button" class="btn btn-primary">Robot Index</button></a>
  <a href="/robots/new"><button type="button" class="btn btn-success">New Robot</button></a>
</form>
