<h1>Welcome to the Robot Manager</h1>
<h2>Statistical Data</h2>

<ul class="list-unstyled">
  <li><h4>Total Robot Count: <%= @robot_data[:count] %></h4></li>
  <% @robot_data.each do |k, v| %>
    <%if v.class == Hash %>
      <li><h4>Robots in each <%= k.capitalize %>:</h4>
        <ul>
        <% v.each do |data, count| %>
          <li><%= data + ": " + count.to_s %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>

<form method="GET">
  <a href="/robots"> <button type="button" class="btn btn-primary">Robot Index</button></a>
  <a href="/robots/new"><button type="button" class="btn btn-success">New Robot</button></a>
</form>
