<form action="/robots" method="post">
  <h2>Enter a new robot</h2>
  Name<br>
  <input type='text' class='form-control' name='robot[name]'/><br/>
  City<br>
  <input type='text' class='form-control' name='robot[city]'/><br/>
  State/Planet<br>
  <input type='text' class='form-control' name='robot[state]'/><br/>
  Department<br>
  <input type='text' class='form-control' name='robot[department]'/><br/>
  <input type='submit'class="btn btn-success"/>
  <a href='/robots'><button type='button' class="btn btn-warning">Cancel</button></a>
</form>
